/.metadata/
Wallabook/.settings/org.eclipse.jpt.entitygen.new-mysql.dualtic
Wallabook/.settings/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
Wallabook/.settings/org.eclipse.wst.ws.service.policy.prefs
Wallabook/.settings/org.eclipse.jpt.entitygen.new-mysql.dualtic
