@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body {
    font-family: 'Open Sans', sans-serif;
    background-color: #b7b7b7;
    
}*/

body{
	background-color:white;
	color:#f5f5f5;
	text-align:center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

a{
	color:black;
	text-decoration:none;
}

header {
    width: 100%;;
    background: #616161;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin:0;
    border-bottom: 5px solid orange;
}
.volver{
	float: right;
	margin: 15px;
	
	color:white;
	
	
}
.volver:hover{
	float: right;
	margin: 15px;
	
	color:orange;
	cursor:pointer;
	
}
.logo {
    height: 49px;
    float:left;
    margi-left: 10px;
}

.linea {
    margin-bottom: px;
    height: 5px;
    background-color: orange;
}
.contenedor1 {
    font-size:20px;
    margin:100px;
    margin-top: 60px;
    text-align:center;
    margin-bottom: 0px;
    color: black;
    
}
 
#lista {
    background-color: grey;
    height: 1000px;;
    
    
}
.muestra-libro {
background-color: #616161;
    height: 220px;
    width: 150px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    margin-left:40px;
    
}
/*footer {
    background-color: #616161;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-top: 5px solid orange;
    bottom:0;
    position:relative;
}
.copy {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: orange;
}*/
.contenedor-libros-con-ed {
    width: 300px;
    height: 150px;
    margin-left: 33px;
    margin-right: 30px; 
    margin-top: 30px;
    background-color: grey;
    border: 2px solid orange;
    color: white;
    display:inline-block;
    border-radius: 4px;
    float: left;
}
.contenedor-libros-sin-ed {
    width: 300px;
    height: 150px;
    margin-left: 33px;
    margin-right: 30px; 
    margin-top: 30px;
    background-color: grey;
    border: 2px solid orange;
    color: white;
    display: inline-block;
    border-radius: 4px;
    
}
.centrar {
    display: inline-block;
    margin-left: 30px;
}
.contenedor-libros-con-ed p {
    margin: 5px;
    margin-top: 6px;
}
.contenedor-libros-sin-ed p {
    margin: 5px;
    margin-top: 6px;
}


#nodisponible {
	font-weight: bold;
	color: orangered;
}

#disponible {
	font-weight: bold;
	color: limegreen;
}

#registro-btn:hover{
    color:orange;
}

.social{
widht: 100%;
height: 50px;
bottom:0;
position:fixed;
right: 0;
}
.social-icon{
widht: 50px;
height: 50px;
}


#demasiados-nodisp-cambiados {
border:solid 1px #ff0000;
background: #f49a9a;
color:#ff0000;
padding:0px;
text-align:center;
margin: 5px;
width: 70%;
margin-left: 190px;

}
#limite-nodisp {
border:solid 1px #ff0000;
background: #f49a9a;
color:#ff0000;
padding:0px;
text-align:center;
margin: 5px;
width: 70%;
margin-left: 190px;
}
/* RESPONSIVE */

/* @media (min-width:1080px) { 
    footer {
        background-color: #616161;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px;
        bottom:0;
   		 position:relative;
}
    .copy {
                margin-left: 80px;
    }
}**/





















